body {
  color: grey;
  background-color: black;
  color: white;
  text-align: center;
}

.game {
  display: none;
}

.jumbotron {
  background-image: url("https://www.filepicker.io/api/file/Ko1bvEHySETdxMJHqCgJ");
  text-align: center;
  color: white;
  font-weight: bold;
  font-family: Bangers;
  font-size: 72pt;
  font-stretch: expanded;
}

.btn{
  margin: auto;
}
.game{
  max-width: 810px;
  margin: auto;
}

.container {
  text-align: center;
}

.column {
  margin: 50px;
}

h3, h2 {
  font-weight: lighter;
}

.row {
  font-weight: lighter;
  margin-top: 30px;
}

.dropdown-toggle{
  background-color: black;
  border-color: grey;
}
.dropdown-menu {
  background-color: #555555;
}

.dropdown-item{
  color: white;
}
.dropdown-item:hover {
  background-color: #A2A2A2;
}

#toShow {
  display: none;
}

#citiesDropDown {
  background-color: black;
  border-color: grey;
}

/* #cities .dropdown-menu {
  background-color: #555555;
}

#cities .dropdown-item {
  color: white;
}

#cities .dropdown-item:hover {
  background-color: #A2A2A2;
} */

#cityItems {
  max-height: 20rem;
  overflow-y: auto;
}

/* Side bar styling */
.sidenav {
  height: 70%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 30%;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.game {
  transition: margin-left .5s;
  padding: 20px;
}
#constsFound {
  display: none;
}
